<mat-card class="mat-elevation-z8 hide_on_print">
    <mat-card-header>
        <mat-card-title>Entrega de EPP</mat-card-title>
        <mat-card-subtitle>Fecha {{hoy | date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="solicitud">
        <mat-list>
            <div mat-subheader>Información</div>
            <mat-list-item>
              <mat-icon mat-list-icon>person</mat-icon>
              <div mat-line><strong>Solicitante: </strong>{{solicitud.solicitante}}</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>engineering</mat-icon>
                <div mat-line><strong>Epp asignado para: </strong>{{solicitud.asignado}}</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>location_on</mat-icon>
                <div mat-line><strong>Ubicación: </strong>{{solicitud.ubicacion}}</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>feedback</mat-icon>
                <div mat-line><strong>Comentarios: </strong>{{solicitud.comentarios}}</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>insert_invitation</mat-icon>
                <div mat-line><strong>Fecha de solicitud: </strong>{{solicitud.fecha_solicitud | date : 'medium'}}</div>
            </mat-list-item>
        </mat-list>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table table-hover" *ngIf="eppsol">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre de equipo</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let es of eppsol;let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{es.nombre}}</td>
                                <td>{{es.cantidad}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-end">
        <button mat-button color="primary" (click)="donwloadPdf()"><mat-icon>picture_as_pdf</mat-icon> Descargar Acta</button>
    </mat-card-actions>
</mat-card>

<mat-card class="mat-elevation-z8" *ngIf="!solicitud">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>