<mat-card>
    <mat-card-header>
        <mat-card-title>Reportes de material</mat-card-title>
    </mat-card-header>
    <mat-card-content class="text-end">
        <a role="button" mat-button [routerLink]="['/contrato/reportesmaterial/nuevo/1']"><mat-icon>add</mat-icon> Nuevo reporte</a>
    </mat-card-content>
</mat-card>

<mat-card class="mt-2">
    <mat-card-content>
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Folio</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Número pedido</th>
                            <th scope="col">Área</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="gotoDetail()">
                            <th scope="row">1</th>
                            <td>0001</td>
                            <td>03 de Julio 2021</td>
                            <td>8</td>
                            <td>7 - Laminador</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>