<mat-card class="mat-elevation-z8">
    <mat-card-header class="mt-2">
        <mat-card-title>Inventarios</mat-card-title>
        <mat-card-subtitle>Activos Telintec.</mat-card-subtitle>
    </mat-card-header>
</mat-card>

    <div class="row">
        <div class="mt-3 col-sm-12 col-md-4 col-lg-4">
            <mat-card class="mat-elevation-z8">
                <mat-card-header>
                    <div mat-card-avatar><mat-icon>cable</mat-icon></div>
                    <mat-card-title>Materiales</mat-card-title>
                    <mat-card-subtitle>Patch cord, TP, Plugs, etc...</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/contrato.jpg" alt="Contrato imagen">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions class="text-end">
                    <a role="button" mat-button [routerLink]="['/inventario/partidas']"><mat-icon>inventory</mat-icon> Inventario</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="mt-3 col-sm-12 col-md-4 col-lg-4">
            <mat-card class="mat-elevation-z8">
                <mat-card-header>
                    <div mat-card-avatar><mat-icon>construction</mat-icon></div>
                    <mat-card-title>Herramientas</mat-card-title>
                    <mat-card-subtitle>Taladros, sierras, cintas, etc...</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/contrato.jpg" alt="Contrato imagen">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions class="text-end">
                    <a role="button" mat-button [routerLink]="['']"><mat-icon>inventory</mat-icon> Inventario</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="mt-3 col-sm-12 col-md-4 col-lg-4">
            <mat-card class="mat-elevation-z8">
                <mat-card-header>
                    <div mat-card-avatar><mat-icon>engineering</mat-icon></div>
                    <mat-card-title>EPP</mat-card-title>
                    <mat-card-subtitle>Cascos, polainas, lentes, etc...</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/contrato.jpg" alt="Contrato imagen">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions class="text-end">
                    <a role="button" mat-button [routerLink]="['']"><mat-icon>inventory</mat-icon> Inventario</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
