<div *ngIf="!existe">
    <mat-card *ngIf="showData">
        <mat-card-header>
            <mat-card-title>{{inventario!.nombre}}</mat-card-title>
            <mat-card-subtitle>{{inventario!.fecha_registro | date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-list>
                        <div mat-subheader>Información</div>
                        <mat-list-item>
                            <mat-icon mat-list-icon>folder</mat-icon>
                            <div mat-line>Nombre del contrato</div>
                            <div mat-line> {{contrato!.nombre}} </div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon>villa</mat-icon>
                            <div mat-line>Planta/Ubicación</div>
                            <div mat-line> {{inventario!.descripcion_ubicacion}} </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="text-end">
            <a role="button" [routerLink]="['/inventario/partidas/agregar/'+inventario!.id_inventario]" mat-button color="primary"><mat-icon>add</mat-icon> Añadir Partida</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="mt-2">
        <mat-card-header>
            <mat-card-title>Partidas</mat-card-title>
            <mat-card-subtitle>Click en la partida para ver detalle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Buscar</mat-label>
                        <input matInput placeholder="Buscar" (keyup)="search()" [(ngModel)]="searchString">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="!partidas.length">
                <div class="col text-center">
                    <p class="lead">Sin partidas guardadas en el inventario.</p>
                </div>
            </div>
            <div class="row" *ngIf="partidas.length">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">POS</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Cantidad Existencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let partida of partidas;let i = index" (click)="gotoPartida(partida.id_partida)">
                                <th scope="row">{{i+1}}</th>
                                <td>{{partida.POS | pos}}</td>
                                <td>{{partida.descripcion}}</td>
                                <td>{{partida.cantidad}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<mat-card *ngIf="existe">
    <mat-card-header>
        <mat-card-title>Inicializar contrato</mat-card-title>
        <mat-card-subtitle>Este contrato no tiene ningun inventario inicializado, comencemos por inicializar el inventario, para seguir con la adición de partidas.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content  *ngIf="showForm">
        <form [formGroup]="formInventario" (ngSubmit)="trySave()">
            <div class="row">
                <div class="col"> 
                    <mat-form-field class="w-100">
                        <mat-label>Nombre del contrato</mat-label>
                        <input matInput placeholder="Ej. LACA-AUTO" formControlName="nombre">
                        <mat-error *ngIf="formInventario.get('nombre')!.hasError('required')">Campo requerido</mat-error>
                        <mat-error *ngIf="formInventario.get('nombre')!.hasError('maxlength')">Máximo 150 carácteres</mat-error>
                        <mat-error *ngIf="formInventario.get('nombre')!.hasError('pattern')">Inválido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Descripción ó Ubicación</mat-label>
                        <textarea matInput placeholder="Sótano del edifico corporativo planta Ternium Guerrero" formControlName="descripcion_ubicacion"></textarea>
                        <mat-error *ngIf="formInventario.get('descripcion_ubicacion')!.hasError('required')">Campo requerido</mat-error>
                        <mat-error *ngIf="formInventario.get('descripcion_ubicacion')!.hasError('maxlength')">Máximo 200 carácteres</mat-error>
                        <mat-error *ngIf="formInventario.get('descripcion_ubicacion')!.hasError('pattern')">Inválido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button type="submit" class="w-100" mat-flat-button color="primary" [disabled]="formInventario.invalid">Guardar</button>
                </div>
            </div>
            <div class="row" *ngIf="guardando">
                <div class="col">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>