<app-toolbar></app-toolbar>
<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
<br>
<br>
<footer class=""><!--mat-elevation-z8-->
  <div class="text-center">
    <small>
      &copy;Telintec 2021. Dirección: Paseo de los conquistadores 536 Las cumbres 3 sección 1, Monterrey Nuevo León, CP. 64610
    </small><br>
    <small>Teléfonos: 8111675492 - 8111675189</small>
  </div>
</footer>

<!--
  &copy;Telintec 2021.Dev.B.R V.0.0

  <small>
      &copy;Telintec 2021. DIRECCIÓN: PASEO DE LOS CONQUISTADORES 536 LAS CUMBRES 3 SECCION 1, MONTERREY NUEVO LEON, CP. 64610
    </small><br>
    <small>TELEFONOS: 8111675492 - 8111675189</small>

-->