<mat-card class="mat-elevation-z8" *ngIf="!cargando">
    <mat-card-header>
        <mat-card-title>Contrato {{contrato.nombre}}</mat-card-title>
        <mat-card-subtitle>{{contrato.descripcion}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-list>
                    <div mat-subheader>Información</div>
                    <mat-list-item>
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <div mat-line>Nombre del contrato</div>
                        <div mat-line> {{contrato.nombre}} </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>design_services</mat-icon>
                        <div mat-line>Nombre del proyecto</div>
                        <div mat-line> {{contrato.nompre_proyecto}} </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>tag</mat-icon>
                        <div mat-line>Número de contrato</div>
                        <div mat-line> {{contrato.numero_contrato}} </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>villa</mat-icon>
                        <div mat-line>Planta/s</div>
                        <div mat-line> {{plantas}} </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>view_headline</mat-icon>
                        <div mat-line>Descripción</div>
                        <div mat-line> {{contrato.descripcion}} </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>calendar_today</mat-icon>
                        <div mat-line>Rango de fechas del periodo del contrato</div>
                        <div mat-line> {{contrato.fecha_inicio | date}} al {{contrato.fecha_final | date}} </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="divisa">
                        <mat-icon mat-list-icon>paid</mat-icon>
                        <div mat-line>Montos del contrato y divisa</div>
                        <div mat-line> Total - {{contrato.monto_total | currency: divisa.divisa_iso}}, Actual - {{contrato.monto_actual | currency: divisa.divisa_iso}} en {{divisa.divisa_nombre}}</div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-end">
        <a role="button" mat-button [routerLink]="['/contrato/areas/'+contrato.id_contrato]" *ngIf="contrato.estatus"><mat-icon>location_on</mat-icon> Áreas</a>
        <a role="button" mat-button [routerLink]="['/contrato/reportesmaterial/'+contrato.id_contrato]" *ngIf="contrato.estatus"><mat-icon>assignment</mat-icon> Reportes de material/Pedidos</a>
        <a role="button" mat-button *ngIf="contrato.estatus"><mat-icon>receipt</mat-icon> Remitos</a>
        <a role="button" mat-button color="warn" (click)="updateContrato()"><mat-icon>power_settings_new</mat-icon> {{contrato.estatus?"Marcar como vencido":"Marcar como activo"}}</a>
    </mat-card-actions>
</mat-card>
<mat-card class="mat-elevation-z8" *ngIf="cargando">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>