<h1 mat-dialog-title>Surtir solicitud</h1>
<div mat-dialog-content>
    <p>{{total?'Se surtirán el total de partidas':'Solo se surtiran las partidas con existencias.'}}</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Partida</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Surtido</th>
                <th scope="col">Existencia</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let partida of data.partidas; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{partida.partida}}</td>
                <td>{{partida.cantidad}}</td>
                <td>{{partida.surtido?'Si':'No'}}</td>
                <td>{{partida.cantidad_inventario>=partida.cantidad?'Si':'No'}}</td>
            </tr>
        </tbody>
    </table>

    
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="surtir()" cdkFocusInitial>Surtir</button>
</div>