<mat-card>
    <mat-card-header>
        <mat-card-title>Reporte de Material</mat-card-title>
        <mat-card-title>Folio </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <br>
        <div class="row">
            <div class="col">
                <strong>Empresa:</strong>
                <br>
                Ternium MX.
            </div>
            <div class="col">
                <strong>Número contrato marco:</strong>
                <br>
                1234567890
            </div>
            <div class="col">
                <strong>Número de pedido Ternium:</strong>
                <br>
                X
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <strong>Nombre:</strong>
                <br>
                "Nombre de persona"
            </div>
            <div class="col">
                <strong>Tel.:</strong>
                <br>
                1234567890
            </div>
            <div class="col">
                <strong>Email:</strong>
                <br>
                xyz@ternium.com.mx
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <strong>Responsable de CC:</strong>
                <br>
                "Nombre de persona responsable centro de costos"
            </div>
            <div class="col">
                <strong>Centro de costos:</strong>
                <br>
                1234567890
            </div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="row">
            <div class="col">
                <strong>Materiales utilizados.</strong>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">POS</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>154</td>
                            <td>Lorem Ipsum 15ft</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>001</td>
                            <td>Lorem Ipsum 15ft</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>075</td>
                            <td>Lorem Ipsum 15ft</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>525</td>
                            <td>Lorem Ipsum 15ft</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>454</td>
                            <td>Lorem Ipsum 15ft</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>104</td>
                            <td>Lorem Ipsum 15ft</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>106</td>
                            <td>Lorem Ipsum 15ft</td>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="row">
            <div class="col">
                <strong>Estatus de la actividad:</strong>
                <br>
                ("Finalizada" o "Avance parcial de la actividad")
            </div>
            <div class="col">
                <strong>Fecha y hora de inicio:</strong>
                <br>
                fecha_ini
            </div><div class="col">
                <strong>Fecha y hora de fin:</strong> 
                <br>
                fecha_fin
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col text-center">
                <strong>Comentarios/Observaciones</strong>
                <br>
               <p class="text-bold">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, saepe impedit dolor dicta culpa sit dolores praesentium? Quis maxime omnis voluptatem, sit, voluptatum at doloremque aliquid consequatur repellat beatae necessitatibus.
               </p>
            </div>
        </div>
    </mat-card-content>
</mat-card>