<mat-card class="mat-elevation-z8" *ngIf="reporte">
    <mat-card-header>
        <mat-card-title>Reporte de Material de {{reporte.contrato}}</mat-card-title>
        <mat-card-subtitle>Folio {{reporte.folio | folio}} - {{reporte.fecha | date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="container">
        <mat-divider></mat-divider>
        <br>
        <div class="row">
            <div class="col">
                <strong>Empresa:</strong>
                <br>
                {{reporte.empresa}}
            </div>
            <div class="col">
                <strong>Número contrato marco:</strong>
                <br>
                {{reporte.numero_contrato}}
            </div>
            <div class="col">
                <strong>Número de pedido Ternium:</strong>
                <br>
                {{reporte.numero_pedido}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <strong>Planta:</strong>
                <br>
                {{reporte.planta}}
            </div>
            <div class="col">
                <strong>Área:</strong>
                <br>
                {{reporte.area}}
            </div>
            <div class="col">
                <strong>Ubicación:</strong>
                <br>
                {{reporte.ubicacion}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <strong>Nombre:</strong>
                <br>
                {{reporte.nombre}}
            </div>
            <div class="col">
                <strong>Tel.:</strong>
                <br>
                {{reporte.telefono}}
            </div>
            <div class="col">
                <strong>Email:</strong>
                <br>
                {{reporte.email}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <strong>Responsable de CC:</strong>
                <br>
                {{reporte.responsable_cc}}
            </div>
            <div class="col">
                <strong>Centro de costos:</strong>
                <br>
                {{reporte.centro_costos}}
            </div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="row">
            <div class="col">
                <strong>Materiales utilizados.</strong>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">POS</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">UM</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let partida of partidas; let pind = index">
                            <th scope="row">{{partida.POS | pos}}</th>
                            <td>{{partida.descripcion}}</td>
                            <td>{{partida.unidad_medida}}</td>
                            <td>{{partida.cantidad}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" *ngIf="servicios">
            <div class="col">
                <p><strong>Servicios hechos</strong></p>
            </div>
        </div>
        <div class="row" *ngIf="servicios">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">POS</th>
                            <th scope="col">Partida</th>
                            <th scope="col">UM</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let servicio of servicios">
                            <th scope="row">{{servicio.POS | pos}}</th>
                            <td>{{servicio.descripcion}}</td>
                            <td>{{servicio.unidad_medida}}</td>
                            <td>{{servicio.cantidad}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="row">
            <div class="col">
                <strong>Fecha y hora de inicio:</strong>
                <br>
                {{reporte.fecha_inicio | date : 'medium'}}
            </div><div class="col">
                <strong>Fecha y hora de fin:</strong> 
                <br>
                {{reporte.fecha_fin | date : 'medium'}}
            </div>
            <div class="col">
                <strong>Actividad finalizada:</strong>
                <br>
                {{reporte.actividad_finalizada ? "Si":"No"}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col text-center">
                <strong>Comentarios/Observaciones</strong>
                <br>
               <p class="text-bold">
                    {{reporte.comentarios}}
               </p>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z8" *ngIf="!reporte">
    <div class="row">
        <div class="col">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</mat-card>