<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Solicitudes de material del contrato</mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="text-end">
            <button mat-button color="primary" [routerLink]="['/material/solicitud/nueva']"><mat-icon>add</mat-icon> Nueva</button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z8 mt-3">
    <mat-card-content>        
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Solicitante</th>
                        <th scope="col">Contrato</th>
                        <th scope="col">Fecha Solicitud</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Visto Admin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                        *ngFor="let sol of solicitudes;let i = index" 
                        [routerLink]="['/material/solicitud/'+sol.id_solicitud]"
                        [ngClass]="{'fw-bold': !sol.visto}"
                    >
                        <th scope="row">{{sol.id_solicitud | folio}}</th>
                        <td>{{sol.usuario_solicitante}}</td>
                        <td>{{sol.contrato}}</td>
                        <td>{{sol.fecha_solicitud | date}}</td>
                        <td>{{sol.estatus | estatus}}</td>
                        <td>{{sol.visto?'Visto':'Pendiente'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>